
@using (Html.BeginForm("Create", "Transaksi", FormMethod.Post, new { onsubmit = "return SubmitForm(this)" }))
{
    <div class="form-horizontal">

        <div class="formfill">
            <div class="row" >
                <label class="col-xs-4" for="datecreate">
                    Tanggal Kertas
                </label>

                <div class="col-xs-8">
                    <input id="datecreate" type="text" class="form-control datepicker" />
                </div>
            </div>
            <div class="row" style="margin-top:20px">
                <label class="col-xs-2" for="inspectpk">Inspect</label>
                <div class="col-xs-4">
                    @Html.DropDownList("recorder", new SelectList(ViewBag.Testlist3, "inspectpk", "Text"))
                </div>
                <label class="col-xs-2" for="sheetnum">Nomor Kertas</label>
                <div class="col-xs-4">
                    <input id="sheetnum" type="text" class="form-control" />
                </div>
            </div>
        </div>
        <hr />
        <div class="form-group">
            <div class="col-md-offset-10 col-md-2">
                <input type="button" value="Create" class="btn btn-success" onclick="createdaily()" data-dismiss="modal" />
            </div>
        </div>
    </div>
}
<script type="text/javascript">
    $("#datecreate").val($("#datetrans").val())

    $(".datepicker").datepicker({
        dateFormat: 'd MM yy'
    });
</script>
